.h2{
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li{
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.button{
    background-color: #007bff;
    color: white;
    border: palevioletred;
    padding: 0.5rem 1rem;
    cursor: pointer;
}